.article-box {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    /* align-items: center; */
}

.text-indetent {
    text-indent: 2em;
}

.article-img {
    height: 300px;
}

.article-box img {
    margin-right: 20px !important;
    border-radius: 10px;
}

.article-box ul {
    font-size: 14px;
    margin-top: 0
}

.vp-doc img {
    max-width: 200px;
}

@media (max-width: 768px) {
    .article-box {
        flex-direction: column;
        align-items: center;
    }

    .article-box img {
        /* margin-right: 0 !important; */
        /* margin-bottom: 16px; */
        /* width: 100%; */
        height: auto;
    }

    .article-img {
        height: 100px;
    }

    .vp-doc{
        padding: 0px 20px 10px 20px ;
    }

    .vp-doc img {
        max-width: 100%;   
    }
}