/* 1. 容器需要设置相对定位，并定义两个变量 */
.VPHome {
  position: relative;
  /* 始终保存当前正在显示的背景图 */
  --current-bg-img: url('../assets/bg2.jpg');
  /* 准备淡入的新背景图 */
  --next-bg-img: none;
  background: radial-gradient(ellipse, rgba(var(--bg-gradient-home), 0.8) 0%, rgba(var(--bg-gradient-home), 0) 150%);
}

/* 2. 底层：始终显示当前图片 */
.VPHome::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--current-bg-img);
  background-size: cover;
  background-position: center;
  z-index: -2;
  /* 放在最底层 */
}

/* 3. 顶层：专门用来做淡入效果的层 */
.VPHome::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--next-bg-img);
  background-size: cover;
  background-position: center;
  z-index: -1;
  /* 夹在 ::before 和网页内容中间 */

  /* 核心：只对这一层设置透明度过渡，0.8秒淡入 */
  transition: opacity 0.8s ease-in-out;
  opacity: 0;
  /* 默认是隐藏的 */
}

/* 4. 激活状态：当加上这个类名时，顶层新图缓缓浮现 */
.VPHome.is-fading-in::after {
  opacity: 1;
}

.VPContent {
  position: relative;
  /* 始终保存当前正在显示的背景图 */
  --current-bg-img: url('../assets/bg2.jpg');
  /* 准备淡入的新背景图 */
  --next-bg-img: none;
  background: radial-gradient(ellipse, rgba(var(--bg-gradient-home), 0.8) 0%, rgba(var(--bg-gradient-home), 0) 150%);
}

.VPContent::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: var(--current-bg-img); */
  background-size: cover;
  background-position: center;
  z-index: -2;
  /* 放在最底层 */
}

/* 3. 顶层：专门用来做淡入效果的层 */
.VPContent::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--next-bg-img);
  background-size: cover;
  background-position: center;
  z-index: -1;
  /* 夹在 ::before 和网页内容中间 */

  /* 核心：只对这一层设置透明度过渡，0.8秒淡入 */
  transition: opacity 0.8s ease-in-out;
  opacity: 0;
  /* 默认是隐藏的 */
}

/* 4. 激活状态：当加上这个类名时，顶层新图缓缓浮现 */
.VPContent.is-fading-in::after {
  opacity: 1;
}


.VPDoc>.container>.content {
  background: var(--doc-bg);
  /* background: rgba(var(--bg-gradient)); */
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  padding-top: 60px !important;
  margin-bottom: 20px !important;
}

/* .main {
  color: rgba(0, 0, 0, 0.7)
} */

.VPDoc {
  padding: 0px 10px;
}

.blog-comment-wrapper {
  padding: 0px 10px;
}

.aside-curtain {
  display: none;
}