/* 所有变量：https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css */
/* 自定义主题色示例，如下 */

/* 浅色模式使用的变量 */
html {
  --vp-c-user-1: #6b4f3a;
  --vp-c-user-2: #9c7b5d;
  --vp-c-user-3: #f6a8b6;
  --vp-c-user-soft: rgba(246, 168, 182, .5);
  --doc-bg: rgba(255, 255, 255, 0.9)
}

/* 深色模式使用的变量（VitePress 实际切换的是 html.dark） */
html.dark {
  --vp-c-user-1: #f3e9dd;
  --vp-c-user-2: #c7b6a4;
  --vp-c-user-3: #f6a8b6;
  --vp-c-user-soft: rgba(246, 168, 182, .2);
  --doc-bg: #374063;
}

/* 覆盖默认变量 */
html[theme],
html[theme].dark {
  --vp-c-brand-1: var(--vp-c-user-1);
  --vp-c-brand-2: var(--vp-c-user-2);
  --vp-c-brand-3: var(--vp-c-user-3);
  --vp-c-brand-soft: var(--vp-c-user-soft);
}